.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  background-color: black;
  border-radius: 10px;
  position: relative;
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

/* .media:hover{
    background-color: rgb(20, 19, 19);
    color: white;
} */

@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

.poster {
  border-radius: 7px;
}

.title {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 8px 0;
}

.subtitle {
  display: flex;
  justify-content: space-between;
  padding: 0 3px 3px 3px;
}
