*{
    scroll-behavior: smooth;
}

.app{
    min-height: 100vh;
    background-color: #242424;
background-image: url("https://www.transparenttextures.com/patterns/gun-metal.png");
    color: whitesmoke;
    padding-top: 80px;
    padding-bottom: 90px;
}

@media (max-width: 1000px) {
    .app{
        padding-top: 60px;
    }
}

.pagetitle{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2vw;
    padding: 7px;
    color: white;
}

@media (max-width: 1000px) {
    .pagetitle{
        font-size: 6.2vw;
    }
}